// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import CoreUI for React components library
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

@import "layout";
@import "example";

// If you want to add custom CSS you can put it here.
@import "custom";

@responsive {
  .rtl {
    direction: rtl;
  }
}

.err {
  color: #bf1650;
}

.err::before {
  display: inline;
  content: "⚠ ";
}
// .slide-left {
//   width:100%;
//   overflow:hidden;
// }
// .slide-left h1 {
//   animation: slide-left 3s;
// }

// @keyframes slide-left {
//   from {
//     margin-left: 100%;
//     width: 100%; 
//     opacity: 0%;
//   }

//   to {
//     margin-left: 0%;
//     width: 100%;
//     opacity: 90%;
//   }
// }
// .slide-right {
//   overflow:hidden;
// }
// .slide-right  {
//   animation: slide-right 3s;
// }

// @keyframes slide-right {
//   from {
//     margin-left: -100%;
//     opacity: 0%;
//   }

//   to {
//     margin-left: 0%;
//     opacity: 90%;
//   }
// }
// .slide-in {
//   width:100%;
//   overflow:hidden;
// }
// .slide-in p {
//   animation: 7s slide-in;
// }

// @keyframes slide-in {
//   from {
//     opacity:0%;
//   }

//   to {
//     opacity: 90%;
//   }
// }

@tailwind base;
@tailwind components;
@tailwind utilities;
